<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" verbose="1" parallel="classes" thread-count="2" configfailurepolicy="continue">
    <test name="BDD Test" annotations="JDK" preserve-order="true">
        <classes>
        
<!--          <class name="com.cts.coe.lab.utility.CustomTestRunner" /> -->
         <class name="com.cts.coe.lab.utility.PetclinicRunner" />
             <class name="com.cts.coe.lab.utility.PetclinicRunner2" />
             <class name="com.cts.coe.lab.utility.PetclinicRunner3" />
             <class name="com.cts.coe.lab.utility.PetclinicRunner4" />
             <class name="com.cts.coe.lab.utility.PetclinicRunner5" />
             <class name="com.cts.coe.lab.utility.PetclinicRunner6" />
        </classes>
        	
    </test>
</suite>
